<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhg.ops.workorders.dao.WorkOrderResultDao" >
  <resultMap id="BaseResultMap" type="com.xhg.ops.workorders.model.WorkOrderResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="INTEGER" />
    <result column="fault_module" property="faultModule" jdbcType="VARCHAR" />
    <result column="fault_type" property="faultType" jdbcType="INTEGER" />
    <result column="change_parts" property="changeParts" jdbcType="VARCHAR" />
    <result column="solution" property="solution" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="phenomena" property="phenomena" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="created_user" property="createdUser" jdbcType="VARCHAR" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="INTEGER" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="BIT" />
  </resultMap>
  
  <!-- 查询工单处理结果 -->
  <select id="queryOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    	id, 
    	order_id, 
    	order_type, 
    	fault_module, 
    	fault_type, 
    	change_parts,
    	solution,
    	reason,
    	phenomena,
    	remark, 
    	created_user, 
    	created_time, 
    	updated_time, 
    	created_user_id, 
    	updated_user_id, 
    	enable
    FROM t_ops_bu_work_order_result
    WHERE enable = 1 AND order_id = #{orderId} LIMIT 1
  </select>
  
    <!-- 查询工单处理结果数量 -->
  <select id="countByOrderId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(id)
    FROM t_ops_bu_work_order_result
    WHERE enable = 1 AND order_id = #{orderId}
  </select>
  
  <!-- 新增 -->
  <insert id="insert" parameterType="com.xhg.ops.workorders.model.WorkOrderResult" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO t_ops_bu_work_order_result (
		order_id, 
		order_type, 
		fault_module, 
		fault_type, 
		change_parts, 
		solution,
    	reason,
    	phenomena,
		remark, 
		created_user, 
		created_time, 
        updated_time, 
        created_user_id, 
        updated_user_id, 
        enable
    ) VALUES (
    	#{orderId,jdbcType=INTEGER}, 
    	#{orderType,jdbcType=INTEGER}, 
        #{faultModule,jdbcType=VARCHAR},
        #{faultType,jdbcType=INTEGER},
        #{changeParts,jdbcType=VARCHAR},  
        #{solution,jdbcType=INTEGER},
        #{phenomena,jdbcType=INTEGER}, 
        #{reason,jdbcType=INTEGER}, 
        #{remark,jdbcType=VARCHAR}, 
        #{createdUser,jdbcType=VARCHAR}, 
        #{createdTime,jdbcType=TIMESTAMP}, 
        #{updatedTime,jdbcType=TIMESTAMP}, 
        #{createdUserId,jdbcType=INTEGER}, 
        #{updatedUserId,jdbcType=INTEGER}, 
        #{enable,jdbcType=BIT}
    )
  </insert>
 
</mapper>