<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhg.ops.system.dao.SystemPostionDao" >
    <resultMap id="BaseResultMap" type="com.xhg.ops.system.model.SystemPosition" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="dept_id" property="deptId" jdbcType="INTEGER" />
        <result column="position_id" property="positionId" jdbcType="INTEGER" />
        <result column="created_user_Id" property="createdUserId" jdbcType="INTEGER" />
        <result column="updated_user_id" property="updatedUserId" jdbcType="INTEGER" />
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
        <result column="enable" property="enable" jdbcType="BIT" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, type, dept_id, position_id, created_user_Id, updated_user_id, created_time,
        updated_time, enable
    </sql>

    <!-- 查询条件 -->
    <sql id="Where_Clause">
        where 1=1 and enable=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="deptId != null">
                and dept_id = #{deptId}
            </if>
            <if test="positionId != null">
                and position_id = #{positionId}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updatedTime != null">
                and updated_time = #{updatedTime}
            </if>
            <if test="createdUserId != null">
                and created_user_id = #{createdUserId}
            </if>
            <if test="updatedUserId != null">
                and updated_user_id = #{updatedUserId}
            </if>

        </trim>
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_ops_bu_system_position
        where id = #{id,jdbcType=INTEGER} and enable=1
    </select>


    <select id="queryAllCount" resultType="java.lang.Integer" parameterType="com.xhg.ops.system.model.SystemPosition">
        select COUNT(1) 
        from t_ops_bu_system_position <include refid="Where_Clause"/>
    </select>


    <select id="queryAllList" resultMap="BaseResultMap" parameterType="com.xhg.ops.system.model.SystemPosition">
        select <include refid="Base_Column_List"/>
        from t_ops_bu_system_position <include refid="Where_Clause"/>
    </select>

    <!-- SELECT * FROM t_ops_bu_system_position WHERE 1=1 AND dept_id=1 AND position_id IN(4,6) -->
    <select id="queryAllPositions" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT <include refid="Base_Column_List"/>
        FROM t_ops_bu_system_position
        WHERE 1=1 and enable = 1
        <if test="deptId != null">
            AND dept_id=#{deptId}
        </if>
        <if test="positionIds!=null">
            and position_id in
            <foreach collection="positionIds" item="positionId" index="index" open="(" close=")" separator=",">
                #{positionId}
            </foreach>
        </if>
        ORDER BY NAME
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_ops_bu_system_position
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.xhg.ops.system.model.SystemPosition" >
        insert into t_ops_bu_system_position (id, name, type,
        dept_id, position_id, created_user_Id,
        updated_user_id, created_time, updated_time,
        enable)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER},
        #{deptId,jdbcType=INTEGER}, #{positionId,jdbcType=INTEGER}, #{createdUserId,jdbcType=INTEGER},
        #{updatedUserId,jdbcType=INTEGER}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP},
        #{enable,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.xhg.ops.system.model.SystemPosition" >
        insert into t_ops_bu_system_position
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="deptId != null" >
                dept_id,
            </if>
            <if test="positionId != null" >
                position_id,
            </if>
            <if test="createdUserId != null" >
                created_user_Id,
            </if>
            <if test="updatedUserId != null" >
                updated_user_id,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="updatedTime != null" >
                updated_time,
            </if>
            <if test="enable != null" >
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
            <if test="deptId != null" >
                #{deptId,jdbcType=INTEGER},
            </if>
            <if test="positionId != null" >
                #{positionId,jdbcType=INTEGER},
            </if>
            <if test="createdUserId != null" >
                #{createdUserId,jdbcType=INTEGER},
            </if>
            <if test="updatedUserId != null" >
                #{updatedUserId,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null" >
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null" >
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null" >
                #{enable,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.xhg.ops.system.model.SystemPosition" >
        update t_ops_bu_system_position
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="deptId != null" >
                dept_id = #{deptId,jdbcType=INTEGER},
            </if>
            <if test="positionId != null" >
                position_id = #{positionId,jdbcType=INTEGER},
            </if>
            <if test="createdUserId != null" >
                created_user_Id = #{createdUserId,jdbcType=INTEGER},
            </if>
            <if test="updatedUserId != null" >
                updated_user_id = #{updatedUserId,jdbcType=INTEGER},
            </if>
            <if test="createdTime != null" >
                created_time = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedTime != null" >
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null" >
                enable = #{enable,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xhg.ops.system.model.SystemPosition" >
        update t_ops_bu_system_position
        set name = #{name,jdbcType=VARCHAR},
        type = #{type,jdbcType=INTEGER},
        dept_id = #{deptId,jdbcType=INTEGER},
        position_id = #{positionId,jdbcType=INTEGER},
        created_user_Id = #{createdUserId,jdbcType=INTEGER},
        updated_user_id = #{updatedUserId,jdbcType=INTEGER},
        created_time = #{createdTime,jdbcType=TIMESTAMP},
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
        enable = #{enable,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>